/* Proprietà dell'Header */
header{
    height: 175px;
    background-color: dodgerblue;
    background-image: url("./img/pattern.png");
}
#logo{
    height: 75px;
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* /Proprietà dell'header */



/* Proprietà del main */
#autore{
    color: grey;
}
#booleaner{
    color: royalblue;
}

#data{
    font-size: 12.5px;
    color: grey;
}

.description_photo{
    font-size: 12.5px;
}

table{
    border-spacing: 0;
    text-align: left;
}
thead{

    background-color: rgb(72, 147, 209);
    color: white;
}

th{
    width: 200px;
}

.tr_bluebg{
    background-color: lightskyblue;
}

h4{
    color: grey;
}
/* /Proprietà del main */

/* proprietà del footer */
#monitor{
    width: 350px;
    height: 250px;
    background-image: url("./img/monitor.jpg");
    background-size: cover;
}
#graph{
    width: 350px;
    height: 250px;
    background-image: url("./img/graph.jpg");
    background-size: cover;
}
footer>div{
    position: relative;
}
div span{
    position: absolute;
    top: 20px;
    left:15px;
    font-size: 25px;
    color: white;
}

/* /proprietà del footer */